.container-left{
    width: 28%;
    background-color:#0097E6;
    height: 100%;
}

.container-center{
    width: 52%;
    background-color: #2BA9EA;
    height: 100%;
}

.container-right{
    width: 28%;
    background-color:#0097E6;
    height: 100%;
}

.player-box{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.player-field{
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
    width: 317px;
    height: 48px;
    padding: 15px;
    color: #828282;
    transition-duration: 300ms;
}

.player-field-1:focus{
    border: 1px solid #2BA9EA;
    box-shadow: 0 0 5px #000000 ;
}

.player-field-1{
    margin-bottom: 20px;
}

.player-field-2{
    width: calc(317px - 56px - 9px );
}

.switcher{
    background-color: #2BA9EA;
    height: 32px;
    width: 56px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    transition-duration: 250ms;
    border: 1.5px solid #ffffff;
}

.player-field-wrapper{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    width: fit-content;
    border-radius: 10px;
    padding-right: 9px;
    transition-duration: 300ms;
    margin-bottom: 40px; ;
}

.player-field-wrapper:focus-within{
    border: 1px solid #2BA9EA;
    box-shadow: 0 0 5px #000000;
}

.switcher-ball{
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 50px;
    transition-duration: 250ms;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0,25);
}

.switcher.active > .switcher-ball{
    transform: translateX(22px);
    background-color: #45F391;
    
}

.switcher.active{
background-color: #ffffff;
border: 1px solid #45F391;

}

h1{
    text-align: center;
    align-items: center;
    color: #45F391;
    size: 24px;
    margin-bottom: 15px;
}

.matches{
    display: flex;
    justify-content: space-evenly;

}

.three{
    margin-left: 69px;
    margin-right: 43px;
    color: #ffffff;
    box-sizing: 16px;
}

.five{
    margin-left: 44px;
    margin-right: 35px;
    color: #ffffff;
    box-sizing: 16px;
    margin-bottom: 45px;
}

.play{
    align-items: center;
    justify-content: center;
    background-color: #45F391;
    color: #ffffff;
    width: 317px;
    height: 54px;
    border-radius: 10px;
    border: none;
    margin-left: 35px;
    width: 100%;
    margin-right: 35px;
    margin-bottom: 38px;
}

.play:hover{
    cursor: pointer;
    transition-duration: 300ms;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0,25);
    border: 1px solid #45F391;
}

.match-history{
    color: #ffffff;
    text-align: center;
    align-items: center;
    font-weight: 700;
    height: 24px;
    margin-bottom: 20px;
}

.wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.winner{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 168px;
    border-radius: 10px;
    background-color: #ffffff;
    justify-content: space-around;
}

.history-winner{
    color: #45F391;
    font-weight: 700;

}

.first-frame{
    color: #828282;
    font-weight: 400;
    height: 24px;
}

.scenario{
    color: #ffffff;
    font-weight: 400;
    height: 24px;
}

.field{
  
    display: flex;
    width: 11px;
    height: 10px;
    background-color: #ffffff;
    color: #828282;
    font-size: 9px;
    align-items: center;
    justify-content: center;

}

.story-game{
    width: 21px;
    height: 21px;
    display: inline-block;
    flex-wrap: wrap;              
    justify-content: space-around;
    
    
}